img.th-img {
    width: 29rem;
    height: 17rem;
}

.thumbnail {
    border: 2px solid #ddd;
    padding: 0;
}

label {
    color: #584f4f;
    font-size: 1.5rem;
}

span {
    color: #484646;
    font-size: 1.5rem;
    line-height: 3rem;
}