<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>省部级政策</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/file.css}">
</head>
<body>
<div class="container">

    <!--引入顶端导航-->
    <div th:replace="bar::topBar"></div>

    <div class="row info">
        <table class="table">
            <thead>
            <tr>
                <td>文件名称</td>
                <td>下载</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file:${files}">
                <td th:text="${file.name}"></td>
                <td>
                    <a th:href="@{/file/}+${file.id}" class='btn btn-xs' title='下载'><span
                            class='glyphicon glyphicon-save'></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--引入页脚-->
    <div th:replace="bar::footBar"></div>
</div>

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>